{% extends "search_base.html" %}
{% block content %}

    {% if alarms.alarms %}
        <table>
            <tr>
                <th>Alarm ID</th>
                <th>Module</th>
                <th>Title</th>
            </tr>
        
        {% for alarm in alarms.alarms %}
            <tr>
                <td><form action="/" method="POST">
                    <input type="hidden" value={{ alarm.idvendor }} name="vendor">
                    <input type="hidden" value={{ alarm.idmodel }} name="model">
                    <input type="hidden" value={{ alarm.idmodule }} name="module">
                    <input type="hidden" value={{ alarm.alarm_id }} name="alarm_id">
                    <button type="submit" class="btn btn-light">{{ alarm.alarm_id }}</button>
                </form></td>
                <td>{{ alarm.module }}</td>
                <td>{{ alarm.title }}</td>
            </tr>
        {% endfor %}

    </table>
    {% endif %}

{% endblock %}